h1{
    color: aquamarine;
    text-align: center;
    background-color: black;
    line-height: 100px;
    text-shadow: 12px 4px 12px yellow;
    font-size: larger;
}
h1:hover{
    background-color: yellow;
}